@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px ;
}


/* footer */

footer {
  margin-top: 10px;
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea;*/
  color: #999;
}

footer a{
  color: #555;
}

footer a:hover{
  color: #222;
}

footer small{
  float: right;
}

footer ul{
  float: left;
  list-style: none;
}

footer ul li{
  float: left;
  margin-right: 10px;
}

/* End of footer styling */

/* Errors */

#error_explanation  {
  color: #f00;
  ul  {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors  {
  /*@extend .control-group;*/
  /*@extend .error;*/
}

.field_with_errors > .message {
  @extend .help-inline
}

/* End of error styling */

/* Debug dump */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* End of debug dump */
