<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://rohitmishra.me/blog">Blog</a></li>
      <li><%= link_to "Help", "#"  %></li>
      <li><%= link_to "Privacy", "#"  %></li>
      <li><%= link_to "Terms", "#"  %></li>
    </ul>
  </nav>
  <small>
    Socialkart - Built for Rails Rumble 2012
  </small>
</footer>
<script type="text/javascript">
   var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
   rumbleBannerBackgroundColor = "#161616";
   rumbleBannerTextColor = "#b0b0b0";
   rumbleBannerLinkColor = "#ffffff";
   rumbleBannerPlacement = "bottom";
 </script>
<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
