<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SocialKart", root_path, id: "logo", class: "brand"  %>
      <nav>
        <ul class="nav pull-right">
          <li><a class="btn" href="javascript:var d=document,s=d.getElementById('fk-mprod-our-id').innerHTML.replace(/(\D*)/g,''),f= 'http://appdreamers.r12.railsrumble.com/items/new',x=d.getElementsByClassName('small_image')[0],l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.getElementsByTagName('h1')[0].title)%20+'&s='+e(s)+'&z='+e(x.src),u=f+p;window.open(u);">
            Bookmarklet</a></li>
          <% if current_user %>
            <li><%= link_to current_user.name, root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Signout", signout_path, tabindex: "-1" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up with Facebook", "/auth/facebook" %>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
